
.texto{
text-align: justify;
color:#400D01;
font-size: 20px ;
}

#titulo{
    text-align: center;
    background-color: #3E5902;
    color: #91A644;
}

#imagem {
    padding: 20px;
    border: 5px groove;
    width: 40%;
    display: flex;
    background: #BF5934;
}
.etapa {
background-image: linear-gradient( #804674, #d277c0 ); 
color: white; 
}