body {
    background: #BF9F9F; 
}

.cabecalho{

padding: 20px;
background-color: #B06161;
border-bottom:30px solid#400D01;
font: size 32px;
color: #BF9F9F;
}

.texto{
text-align: justify;
color:#400D01;
font-size: 20px ;
}

#titulo{
    text-align: center;
    background-color: #3E5902;
    color: #91A644;
}

#imagem {
    padding: 20px;
    width: 20%;
    border: 5px groove;
    display: flex;
    
}
.imagem1{
    text-align: center;
}
.etapa {
background-image: linear-gradient( #B06161, #DC8686 ); 
color: #400D01; 
}
li{

    list-style-type: none;
}