.texto{
text-align: justify;
color: blue;
font-size: 20px ;
}

#titulo{
    text-align: center;
    background-color: aqua;
}

#imagem {
    padding: 20px;
    border: 5px groove;
    width: 40%;
    display: flex;
    background: #fbb829;